<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mT40">IT ticketing system software for everything IT.</h1>
            <p class="mT30">
                Automate. Customize. Prioritize. Our ticketing software helps you accomplish
                everything you
                need to do to resolve the day-to-day IT tickets faster than ever.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/ticketing-system.webp" alt="" srcset="">
        </div>
    </div>
</div>