.mT40 {
  margin-top: 50px;
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.mT30 {
  font-family: "Poppins", sans-serif;
  margin-top: 19px;
  padding-right: 140px;
  font-size: 18px;
  line-height: 30px;
}
