<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header text-light bg-primary">
                Employee List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>EmailId</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                Create New
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact No</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Email-Id</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Role</label>
                        <select class="form-control">
                            <option value="">Select Role</option>
                            <option value="Employee">Employee</option>
                            <option value="AdminDept">Admin Dept</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">User Name</label>
                        <input type="text" class=" form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="text" class=" form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Select Dept</label>
                        <select id="" class="form-control">
                            <option value="">Select Dept</option>

                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Select Senior</label>
                        <select class="form-control">
                            <option value="">Select Senior</option>
                        </select>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6  text-end">
                        <button class="btn btn-secondary btn-sm">Reset</button>
                    </div>
                    <div class="col-6  text-left">
                        <button class="btn btn-success btn-sm">Save Employee</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>