<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <ul class="copyright-list">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                    <li>
                        <a [routerLink]=" ['/auth','login']">Login</a>
                    </li>
                    <li>
                        <a [routerLink]=" ['/auth','register']">Register</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-5">
                <p class="copyright-text">
                    <small>©Copyright<span>Narola Infotech</span> 2018, - All Right Reserved </small>
                </p>
            </div>
        </div>
    </div>
</footer> -->

<div class="row row-no-gutters" id="bottom-footer">
    <div class="col-xs-12 col-md-5 text-center">
        <ul class="vertical-links small">
            <li><a href="#">Home</a></li>
            <li><a href="#">Feature</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Serviecs</a></li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-5 text-center">
        <ul>
            <li class="small">©Copyright<span> Narola Infotech</span> 2023</li>
        </ul>
    </div>
</div>