ul {
  list-style: none;
}
ul > li > a {
  color: grey;
  text-decoration: none;
  line-height: 1.8;
}
ul > li > a:hover,
a:hover {
  color: #021027;
  font-weight: 900;
}

.col-heading {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  color: #304f50;
  font-weight: 500;
  margin: 1rem 0;
  padding: 0.4rem 0px;
  border-bottom: 1px solid #c7c7c7;
  letter-spacing: 3px;
}

#bottom-footer {
  background-color: cadetblue;
  color: white;
  margin-top: 2rem;
  padding-top: 0.3rem;
}
.vertical-links > li {
  display: inline-block;
  vertical-align: text-bottom;
}
.vertical-links > li > a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-left: 1rem;
  list-style-type: square;
}
.small {
  font-size: 15px;
}
