<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <ul class="copyright-list">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                    <li>
                        <a [routerLink]=" ['/auth','login']">Login</a>
                    </li>
                    <li>
                        <a [routerLink]=" ['/auth','register']">Register</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-5">
                <p class="copyright-text"><small>©Copyright <span>Narola Infotech</span> 2018, - All Right
                        Reserved</small></p>
            </div>
        </div>
    </div>
</footer>