@media only screen and (max-width: ß) {
  .main-content-wrapper {
    padding-top: 48px;
  }

  /* mobile menu  */
  .navbar {
    padding: 0.25rem;
  }

  .navbar-brand {
    margin-right: 0.45rem;
  }

  .dropdown-menu.show {
    position: absolute;
    margin: 0px -10px 0px 0px;
  }

  .u-name {
    display: none;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgb(90, 70, 70);
    left: 0px;
    padding-left: 25px;
    z-index: 1;
    box-shadow: 0 5px 15px 0px rgba(1, 1, 1, 0.3);
  }

  /* end mobile menu  */
  .inner-head h2.p-title {
    font-size: 45px;
  }

  .section-register .register-form {
    margin-left: auto;
    margin-right: auto;
  }

  .section-register {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  section.section-gift .pink-bg {
    bottom: 20px;
    height: 240px;
  }

  .copyright-list {
    text-align: center;
  }

  .copyright-list li {
    display: inline;
    margin: 0px 7px 0 0;
    font-size: 13px;
  }

  .copyright-text {
    text-align: center;
  }

  .step::before {
    border: none;
  }

  /* .dropdown-menu{
        margin-top: 0;
        box-shadow: none;
        text-align: left;
    } */
  .help-menu {
    margin: 1.5rem 0;
    min-height: auto;
  }

  .help-menu ul li {
    margin: 5px 0 5px 10px;
  }

  .withdraw {
    padding-left: 0;
  }

  .assistance-contribution .container,
  .contribution-landing .container,
  .profile .container {
    padding: 0 15px;
  }

  .checkboxhover .checkboxhovertext {
    right: 0;
  }

  .section-register-page .ptb-80 {
    padding: 15px;
  }

  .inner-head {
    height: auto;
    padding: 50px 0;
  }

  .inner-head span {
    margin: 0 auto 10px;
  }

  .my-event-li {
    flex-wrap: wrap;
  }

  .gift-img {
    margin: 0 auto 15px;
  }

  .event-content {
    flex-wrap: wrap;
    margin: 0;
  }

  .event-content h3,
  .event-content h4 {
    display: block;
    margin: 0 0 5px;
    width: 100%;
    text-align: center;
  }

  .event-content h3 span,
  .event-content h4 span {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
  }

  .event-content h3 br,
  .event-content h4 br {
    display: none;
  }

  ul.my-event-ul li + li {
    margin-top: 15px;
    padding-top: 15px;
  }

  .my-event-div .custom-scroll {
    height: 310px;
    margin-bottom: 30px;
  }

  .my-event {
    margin: 0 0 30px;
  }

  .it-easy {
    padding: 50px 0;
    margin: 0 0 30px;
  }

  .it-easy-div + .it-easy-div {
    margin-top: 20px;
  }

  .checkout-statment h3 {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: normal;
  }

  .checkout-statment {
    margin: 0;
  }

  .create-event-head {
    height: auto;
    background-size: cover;
    padding: 30px 0 0;
  }

  .gift-contributions,
  .uplaod-img,
  .easy-started,
  .event-invitation,
  .event-dtl {
    margin: 0 0 30px;
  }

  .select-invitation,
  .event-input {
    width: 100%;
    /* margin-bottom: 15px; */
  }

  .invitation-list-ul li {
    width: 100%;
  }

  .invitation-list-ul li + li,
  .invitation-list-ul li + li + li + li,
  .invitation-list-ul li + li + li {
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
    margin-top: 10px;
  }

  .invitation-list > h4 {
    margin: 30px 0;
    font-size: 22px;
  }

  .gift-contributions-img,
  .gift-contributions-img img {
    width: 280px;
    height: 280px;
    margin: 0 auto 15px;
  }

  .total-contributions {
    margin: 0 0 30px;
    padding: 20px 0;
    font-size: 20px;
  }

  .invitation-list {
    margin: 0 0 30px;
  }

  .hiw-image {
    width: 80px;
  }

  .ptb-100 {
    padding: 60px 0;
  }
}
